@tailwind base;
@tailwind components;
@tailwind utilities;

.my-swal .swal2-popup {
    background-color: #3a31b9 !important;
    border-color: #1a202c !important;
    color: white !important;
    font-size: 0.76rem !important;
    text-align: center !important;
}
.my-swal .swal2-html-container {
    width:fit-content !important;
    margin: 0 auto !important;
}

@keyframes move-up {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}

.custom-lable {
    width: 30px;
    height: 30px;
    background-color: #3a31b9;
    color: white;
    border-radius: 50%;
    position: relative;
    top: 15px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agree-check {
    font-size: 0.8rem;
    color: gray;
}
.check-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #cccccc80;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.check-btn.active {
    background-color: #3a31b9;
    border: 1px solid #3a31b9;
    transition: all 0.3s ease-in-out;
}
